@model List<CoreDemoWithCodeFirst.ViewModels.EmployeeViewModel>
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Employee Index</h1>
<a class="btn btn-primary" asp-controller="WebEmployee" asp-action="AddEditEmployee">Create</a>
<!DOCTYPE html>
<html lang="en">
<body>

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>
                            <a asp-controller="WebEmployee" asp-action="AddEditEmployee" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="WebEmployee" asp-action="DeleteEmployee" asp-route-id="@item.Id">Delete</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
