@page
@model CoreDemoWithCodeFirst.Pages.Employee.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>MyFirstTables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MyFirstTables.Name" class="control-label"></label>
                <input asp-for="MyFirstTables.Name" class="form-control" />
                <span asp-validation-for="MyFirstTables.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyFirstTables.Age" class="control-label"></label>
                <input asp-for="MyFirstTables.Age" class="form-control" />
                <span asp-validation-for="MyFirstTables.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyFirstTables.Profile" class="control-label"></label>
                <input asp-for="MyFirstTables.Profile" class="form-control" />
                <span asp-validation-for="MyFirstTables.Profile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyFirstTables.Country" class="control-label"></label>
                <input asp-for="MyFirstTables.Country" class="form-control" />
                <span asp-validation-for="MyFirstTables.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyFirstTables.LastModified" class="control-label"></label>
                <input asp-for="MyFirstTables.LastModified" class="form-control" />
                <span asp-validation-for="MyFirstTables.LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
